* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
}

#upper__nav {
  display: none;
}

#lower__nav {
  width: 100%;
  height: 63px;
  background: #fff;
  display: flex;
}

.nav__menu-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-toggle {
  position: absolute;
  left: 23px;
  font-size: 1.5rem;
  color: #534e4e;
  cursor: pointer;
  background: none;
  display: flex;
}

.closeMenu {
  display: flex;
  justify-content: flex-start;
  padding-left: 24px;
  width: 100%;
  height: 48px;
  background: none;
  font-size: 24px;
  color: #606060;
  cursor: pointer;
}

.lower__nav-logo {
  width: 131px;
}

.lower__nav-menu {
  margin: 0;
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  align-items: center;
  background: #3e3e3e;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  left: 100%;
}

.lower__nav-elements {
  font: 30px/82px 'Lato', sans-serif;
  color: #fff;
  margin: 0 10px;
  width: max-content;
}

.lower__nav-menu-visible {
  left: 0;
}

#hero__about {
  background-color: #d2d2d2;
  padding: 12px 0 25px 0;
  padding: 109px 12px 71px 12px;
  background-image: url(https://wallpaperaccess.com/full/7502746.jpg);
  background-size: 1900px;
  font-family: 'Lato', sans-serif;
  background-position: 30% 90%;
}

.hero__container-title {
  font-family: 'Lato', sans-serif;
  font-size: 46px;
  color: #f70;
  text-align: center;
}

.hero__container-subtitle {
  color: #fa9200;
  font-weight: 400;
  text-align: center;
}

.hero__container-p {
  background: #fff;
  display: inline-flex;
  height: 164px;
  padding: 20px 12px;
  justify-content: center;
  align-items: center;
}

.paragraphs {
  color: #000;
  text-align: center;
  font: 400 14px/25px 'Lato', sans-serif;
  font-style: normal;
  letter-spacing: -0.84px;
  margin: 25px 0;
}

.paragraphs-2 {
  display: none;
}

.hero__container-contact {
  width: 292px;
  height: 68px;
  margin: auto;
}

.date {
  color: #7a7a7a;
  text-align: center;
  font: 700 12px/25px 'Lato', sans-serif;
  font-style: normal;
}

.location {
  color: #5f5f5f;
  text-align: center;
  font: 800 12px/25px 'Lato', sans-serif;
  font-style: normal;
  letter-spacing: 0.24px;
  text-decoration-line: underline;
}

.main__program-container {
  background: #d3d3d3;
}

.main__program-h3-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}

.main__program-h3-container h3 {
  color: #2c2c2c;
  font: 700 20px/28px 'Lato', sans-serif;
  text-align: center;
  font-style: normal;
  letter-spacing: -0.4px;
}

.short {
  position: absolute;
  left: 46%;
  width: 30px;
  height: 2px;
  background: #a04038;
  margin-top: 7px;
}

.main__program-h3-container p {
  color: #838383;
  text-align: center;
  font: 700 16px/21px 'Lato', sans-serif;
  font-style: normal;
  letter-spacing: -0.48px;
  margin: 20px 0 35px 0;
}

.logo_capitan-container {
  height: 142px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #d9d9d9;
  margin-bottom: 20px;
}

.logo___capitan {
  width: 55%;
}

.main__grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5);
  gap: 3px;
  margin: 40px 0;
}

.main__grid-card-container {
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 11.6px;
  padding: 10px;
  background-color: #3b3e45cd;
}

.main__grid-card-h4 {
  width: 200px;
  color: #ff5438;
  font: 700 14px/25px 'Lato', sans-serif;
  text-align: left;
}

.main__grid-card-p {
  font: 700 9px/22px 'Lato', sans-serif;
  color: #fff;
  letter-spacing: 0.06em;
  text-align: left;
}

.main__grid-btn {
  font: 900 16px/28px 'Lato', sans-serif;
  background: #ff4f38;
  padding: 20px 50px;
  color: #fff;
}

#past__events {
  padding: 12px 9px 0 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#past__events h3 {
  color: #2c2c2c;
  font: 700 20px/28px 'Lato', sans-serif;
  font-style: normal;
  letter-spacing: -0.4px;
  margin-bottom: 20px;
}

.past__events-p {
  color: #838383;
  text-align: center;
  font: 700 12px/21px 'Lato', sans-serif;
  font-style: normal;
  letter-spacing: -0.36px;
}

.past__events-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 35px;
  padding: 0 10px;
}

.past__events-img {
  width: 100%;
}

#partners {
  display: flex;
  padding: 20px 0 40px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #414246;
}

#partners h4 {
  color: #d3d3d3;
  font: 400 20px/28px 'Lato', sans-serif;
  font-style: normal;
  letter-spacing: -0.2px;
  margin-bottom: 25px;
}

.partners__h4 {
  color: d3d3d3;
}

.partners__list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 15px;
}

.partners__list-2 {
  display: flex;
  justify-content: center;
  gap: 10%;
  width: 100%;
  margin-bottom: 0;
}

.partners-img {
  width: 82px;
}

#boeing {
  filter: (10%);
}

#footer {
  height: 85px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 27px 25px;
  gap: 10%;
}

#footer img {
  width: 138px;
}

#footer p {
  color: #3b3e45;
  font: 700 10px/13px 'Lato', sans-serif;
  font-style: normal;
  letter-spacing: -0.1px;
}

@media only screen and (min-width: 768px) {
  body {
    width: 100%;
  }

  #navbar {
    width: 100%;
    position: fixed;
  }

  #upper__nav {
    display: block;
    background-color: #3e3e3e;
    padding: 5px 190px;
  }

  .upper__nav-social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 0;
  }

  .nav__elements {
    color: #d9d9d9;
    font: 400 13px 'Lato', sans-serif;
    font-style: normal;
    line-height: normal;
  }

  .nav-toggle {
    display: none;
  }

  .closeMenu {
    display: none;
  }

  #lower__nav {
    padding: 0 198px 0 209px;
  }

  .nav__menu-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .lower__nav-logo {
    margin: 0;
    padding: 0;
  }

  .lower__nav-menu {
    margin: 20px;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background: none;
    position: static;
    top: 0;
    width: 100%;
    height: auto;
    left: 0;
  }

  .lower__nav-elements {
    font: 800 14px 'Lato', sans-serif;
    color: #868686;
    font-size: 14px;
    font-style: normal;
  }

  .lower__nav-menu-desktop {
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  .nav__elements-orange {
    color: #ec5342;
  }

  .lower__nav-menu-btn {
    display: flex;
    width: max-content;
    height: 48px;
    padding: 0 12px;
    justify-content: center;
    align-items: center;
    color: #ec4327;
    border: 5px solid #ec4327;
    margin: 0;
    text-align: center;
  }

  #hero__about {
    background-color: #d2d2d2;
    padding: 109px 251px;
  }

  .hero__container-title {
    font-size: 60px;
    color: #f70;
    text-align: center;
  }

  .hero__container-subtitle {
    display: none;
  }

  .hero__container-p {
    background: #fff;
    display: inline-flex;
    height: 245px;
    padding: 35px 65px;
    justify-content: center;
    align-items: center;
  }

  .paragraphs {
    display: none;
  }

  .p__container {
    display: flex;
    padding: 35px 65px;
    align-items: flex-start;
    gap: 10px;
    background-color: #fff;
    margin: 35px 0;
  }

  .paragraphs-2 {
    display: block;
    color: #515151;
    text-align: center;
    font: 400 14px/25px 'Lato', sans-serif;
    font-style: normal;
  }

  .hero__container-contact {
    width: 100%;
    height: 68px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .date {
    width: 641px;
    font-size: 16px;
    letter-spacing: 0.48px;
    text-align: center;
    margin: 0;
  }

  .location {
    font-size: 17px;
    letter-spacing: 0.34px;
    text-decoration-line: underline;
  }

  .main__program-h3-container {
    padding: 65px 341px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .main__program-h3-container h2 {
    font-size: 30px;
    letter-spacing: -0.9px;
  }

  .short {
    left: 48.1%;
    width: 51px;
    height: 3px;
    margin: 20px 0;
  }

  .main__program-h3-container p {
    margin: 25px 0 35px 0;
  }

  .logo_capitan-container {
    width: 592px;
    height: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #d9d9d9;
    margin-bottom: 20px;
  }

  .logo___capitan {
    width: 55%;
  }

  #past__events {
    padding: 65px 341px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #372a2a8e;
  }

  #past__events h3 {
    font-size: 30px;
    letter-spacing: -0.9px;
  }

  .past__events-p {
    font-size: 16px;
    margin-bottom: 0;
    letter-spacing: -0.48px;
    margin-top: 14px;
  }

  .past__events-container {
    flex-direction: row;
    gap: 25px;
    margin: 35px 0 0 0;
    padding: 0;
  }

  .past__events-img {
    width: 100%;
  }

  #partners {
    display: none;
  }

  #footer {
    background: #2e2e2e;
    height: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 74px 221px;
    gap: 10%;
  }

  #footer img {
    width: 325px;
    filter: invert();
  }

  #footer p {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.56px;
    color: #fff;
  }
}
