/* font-family: 'Gothic A1', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Rubik Dirt', cursive; */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@media only screen and (min-width: 0) {
  body {
    margin: 0;
    padding: 0;
  }

  #upper__nav {
    display: none;
  }

  #lower__nav {
    width: 100%;
    height: 63px;
    padding-left: 23px;
    background: #fff;
    display: flex;
    justify-content: start;
  }

  .nav__menu-container {
    display: flex;
    align-items: center;
  }

  .nav-toggle {
    font-size: 1.5rem;
    color: #534e4e;
    cursor: pointer;
    background: none;
  }

  .menu__button-x {
    display: flex;
    justify-content: flex-start;
    padding-left: 24px;
    width: 100%;
    height: 48px;
    background: none;
    font-size: 24px;
    color: #606060;
    cursor: pointer;
  }

  .lower__nav-logo {
    margin-left: 60%;
    width: 131px;
  }

  .lower__nav-menu {
    margin: 0;
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
    background: #3e3e3e;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    left: 100%;
  }

  .lower__nav-elements {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 30px;
    margin: 0 10px;
    line-height: 82px;
    width: max-content;
  }

  .lower__nav-menu-visible {
    left: 0;
  }

  #hero {
    padding: 109px 12px 71px 12px;
    background-image: url(https://wallpaperaccess.com/full/1968246.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lato', sans-serif;
  }

  .hero__container-title {
    font-size: 35px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(Assets/img-bg-h1.jpg);
    background-attachment: fixed;
  }

  .hero__container-subtitle {
    color: #fa9200;
    font-weight: 400;
  }

  .paragraphs {
    width: 100%;
    height: 85px;
    color: #515151;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.12px;
    border: 4px solid #fff;
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17.101px 14px 16.899px 14px;
    margin: 30px 0 20px 0;
  }

  .date {
    color: #595959;
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: -1.6px;
  }

  .location {
    display: flex;
    height: 36.762px;
    flex-direction: column;
    justify-content: center;
    color: #868686;
    font-family: 'Gothic A1', sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -0.26px;
  }

  .main__program-container {
    background: #868686;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 11px;
    background-image: url(https://wallpaperaccess.com/full/1968280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
  }

  .main__program-h3-container h3 {
    height: 32px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.8px;
  }

  .short {
    position: absolute;
    left: 47%;
    width: 30px;
    height: 2px;
    background: #a04038;
    margin-top: 7px;
  }

  .main__grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5);
    gap: 3px;
    margin: 40px 0;
  }

  .main__grid-card-container {
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 11.6px;
    padding: 10px;
    background-color: #3b3e45cd;
  }

  .main__grid-card-h4 {
    width: 200px;
    color: #ff5438;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
  }

  .main__grid-card-p {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 9px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.06em;
    text-align: left;
  }

  .main__grid-btn {
    font-family: 'Lato', sans-serif;
    background: #ff4f38;
    padding: 20px 50px;
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    line-height: 28px;
  }

  .speaker__grid-link {
    display: none;
  }

  #speakers {
    padding: 12px 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #speakers h3 {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -1px;
  }

  .featured__speakers-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5);
    gap: 17px;
    margin: 30px 0;
  }

  .speakers__grid-item {
    display: flex;
    gap: 0.9rem;
  }

  .speaker__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .speaker__description-h4 {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
  }

  .speaker__description-h5 {
    color: #f78c89;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 14.943px;
    letter-spacing: -0.2px;
  }

  .speakers__hr {
    width: 17.789px;
    height: 1.43px;
    background: #d9d9d9;
  }

  .speaker__description-p {
    display: flex;
    width: 229px;
    height: 26px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px; /* 155.556% */
    letter-spacing: -0.54px;
  }

  .hidden-mobile {
    display: none;
  }

  .btn__more-container {
    display: flex;
    width: 356px;
    height: 38px;
    padding: 12px 0 13px 0;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    box-shadow: 2px 2px 4px 0 #00000040;
    margin-bottom: 32px;
  }

  .speakers__ItemsBtn {
    width: 50px;
    height: 13px;
    background: none;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .down__arrow {
    width: 8px;
    height: 5.333px;
  }

  #partners {
    display: none;
  }

  #footer {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  body {
    width: 100%;
  }

  #navbar {
    width: 100%;
    position: fixed;
  }

  #upper__nav {
    display: block;
    background-color: #3e3e3e;
    padding: 0 190px;
  }

  .upper__nav-social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }

  .nav__elements {
    color: #d9d9d9;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .nav-toggle {
    display: none;
  }

  .menu__button-x {
    display: none;
  }

  #lower__nav {
    padding: 0 198px 0 209px;
  }

  .nav__menu-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .lower__nav-logo {
    margin: 0;
    padding: 0;
  }

    .lower__nav-menu {
    margin: 20px;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background: none;
    position: static;
    top: 0;
    width: 100%;
    height: auto;
    left: 0;
  }

  .lower__nav-elements {
    color: #868686;
    font-size: 14px;
    font-weight: 800;
  }

  .lower__nav-menu-desktop {
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  .nav__elements-orange {
    color: orange;
  }

  .lower__nav-menu-btn {
    display: flex;
    width: max-content;
    height: 48px;
    padding: 0 12px;
    justify-content: center;
    align-items: center;
    color: #ec4327;
    border: 5px solid #ec4327;
    margin: 0;
    text-align: center;
    }

  #hero {
    padding: 116px 441px 121px 206px;
  }

  .hero__container-title {
    font-size: 68px;
    margin: 0 0 35px 25px;
  }

  .hero__container-subtitle {
    font-size: 36px;
    margin: 0 25px;
  }

  .p__container {
    display: flex;
    width: 100%;
    padding: 36px 29px;
    justify-content: center;
    align-items: center;
    border: 8.497px solid #fff;
    background: #f8f8f8;
    margin: 63px 25px;
  }

  .paragraphs {
    font-size: 25px;
    line-height: 36.11px;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
  }

  .date {
    color: #595959;
    font-size: 42px;
    font-weight: 900;
    letter-spacing: -3px;
    margin: 24px 25px;
  }

  .location {
    display: flex;
    height: 36px;
    color: #868686;
    font-size: 27px;
    margin: 0 25px;
  }

  .main__program-container {
    margin-top: 0;
    padding: 70px 0;
  }

  .main__program-h3-container h3 {
    font-size: 30px;
    letter-spacing: -0.3px;
    background-color: #595959;
  }

  #speakers h3 {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.3px;
    margin-bottom: 50px;
  }

  .short {
    left: 48%;
    width: 51px;
    height: 3px;
    margin-top: 17px;
  }

  .main__grid {
    display: flex;
  }

  .main__grid-card-container {
    max-width: 200px;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 22px 18px;
  }

  .main__grid-card-h4 {
    color: #ff5438;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }

  .main__grid-card-p {
    font-size: 12px;
    line-height: 25px;
    text-align: center;
  }

  .main__grid-btn {
    display: none;
  }

  .speaker__grid-link {
    display: block;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.2px;
    text-decoration-line: underline;
  }

  #speakers {
    padding: 74px 204px;
  }

  .featured__speakers-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6);
    gap: 20px;
    margin: 25px 0;
  }

  .speaker__description-h4 {
    font-size: 24px;
    letter-spacing: -0.5px;
  }

  .speaker__description-h5 {
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -1.35px;
  }

  .speakers__hr {
    width: 25px;
    height: 2.5px;
    background: #d9d9d9;
  }

  .speaker__description-p {
    width: 305px;
    height: 95px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.7px;
  }

  .speakers__grid-item img {
    width: 178px;
  }

  .hidden-mobile {
    display: block;
    display: flex;
  }

  .btn__more-container {
    display: none;
  }

  .speakers__ItemsBtn {
    display: none;
  }

  #partners {
    display: block;
    height: 242px;
    padding: 35px 120px;
    background: #414246;
  }

  .partners__container {
    display: flex;
    flex-direction: column;
  }

  #partners h3 {
    color: #8f8f91;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.3px;
    text-align: center;
    margin-bottom: 30px;
  }

  .partners__list {
    display: flex;
    justify-content: space-evenly;
    color: #8f8f91;
  }

  .partners__list img {
    width: 150px;
  }

  #footer {
    height: 245px;
    padding: 74px 221px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 65px;
  }

  #footer img {
    width: 235px;
  }

  #footer p {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.14px;
  }
}
