/* font-family: 'Gothic A1', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Rubik Dirt', cursive; */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@media only screen and (min-width: 0) {
  #upper__nav {
    display: none;
  }

  .bars {
    font-size: 1.5rem;
    color: rgb(83, 78, 78);
  }

  #lower__nav {
    width: 100%;
    height: 63px;
    padding-left: 23px;
    background: #fff;
    display: flex;
    justify-content: space-evenly;
    justify-content: start;
    align-items: center;
  }

  .lower__nav-logo-container {
    margin-left: 20%;
  }

  .lower__nav-logo {
    width: 131px;
  }

  .lower__nav-menu {
    display: none;
  }

  .lower__nav-menu-btn {
    display: none;
  }

  #hero {
    padding: 109px 12px 71px 12px;
    background-image: url(https://i.pinimg.com/564x/bf/f0/7e/bff07eb0fbdf6438f74a56c461daacec.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lato', sans-serif;
  }

  .hero__container-title {
    font-size: 35px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(Assets/img-bg-h1.jpg);
    background-attachment: fixed;
    background-position: 40%;
  }

  .hero__container-subtitle {
    color: #fa9200;
    font-weight: 400;
  }

  .paragraphs {
    width: 100%;
    height: 85px;
    color: #515151;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.12px;
    border: 4px solid #fff;
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17.101px 14px 16.899px 14px;
    margin: 30px 0;
  }

  .date {
    color: #595959;
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: -1.6px;
  }

  .location {
    display: flex;
    height: 36.762px;
    flex-direction: column;
    justify-content: center;
    color: #868686;
    font-family: 'Gothic A1', sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -0.26px;
    margin-top: 5px;
  }

  .main__program-container {
    background: #868686;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 11px;
    background-image: url(https://images.pexels.com/photos/912050/pexels-photo-912050.jpeg?cs=srgb&dl=pexels-ahmed-muntasir-912050.jpg&fm=jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 80%;
  }

  .main__program-h3-container h3 {
    height: 32px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.8px;
  }

  .short {
    position: absolute;
    left: 47%;
    width: 30px;
    height: 2px;
    background: #a04038;
    margin-top: 7px;
  }

  .main__grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5);
    gap: 3px;
    margin: 40px 0;
  }

  .main__grid-card-container {
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 11.6px;
    padding: 10px;
    background-color: #3b3e45cd;
  }

  .main__grid-card-h4 {
    width: 200px;
    color: #ff5438;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
  }

  .main__grid-card-p {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 9px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.06em;
    text-align: left;
  }

  .main__grid-btn {
    font-family: 'Lato', sans-serif;
    background: #ff4f38;
    padding: 20px 50px;
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    line-height: 28px;
  }

  .speaker__grid-link {
    display: none;
  }

  #speakers {
    padding: 12px 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .featured__speakers-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5);
    gap: 17px;
    margin: 32px 0;
  }

  .speakers__grid-item {
    display: flex;
    gap: 0.9rem;
  }

  .speaker__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .speaker__description-h4 {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
  }

  .speaker__description-h5 {
    color: #f78c89;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 14.943px;
    letter-spacing: -0.2px;
  }

  .speakers__hr {
    width: 17.789px;
    height: 1.43px;
    background: #d9d9d9;
  }

  .speaker__description-p {
    display: flex;
    width: 229px;
    height: 26px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px; /* 155.556% */
    letter-spacing: -0.54px;
  }

  .hidden-mobile {
    display: none;
  }

  .btn__more-container {
    display: flex;
    width: 356px;
    height: 38px;
    padding: 12px 0 13px 0;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
  }

  .speakers__ItemsBtn {
    width: 50px;
    height: 13px;
    background: none;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .down__arrow {
    width: 8px;
    height: 5.333px;
  }

  #partners {
    display: none;
  }

  #footer {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  #upper__nav {
    padding: 0 190px 0 190px;
    width: 100%;
    height: 30px;
    background-color: #3e3e3e;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .nav__elements {
    display: flex;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20px;
  }

  .upper__nav-social {
    display: flex;
    justify-content: center;
  }

  #lower__nav-menu {
    padding-left: 209px;
  }

  #bars {
    display: none;
  }

  .lower__nav-menu {
    display: block;
    width: 679px;
    background-color: #d9d9d9;
    justify-content: space-between;
    margin-left: 232px;
    padding: 15px 0;
  }

  .lower__nav-menu-btn {
    color: #fa9200;
  }
}
